body {
    font-size: 15px;
    letter-spacing: 1px;
    background-color: rgba(129, 129, 129, 0.11);
    color: #191c1f;
}

.slides-navigation .prev,
.slides-navigation .next {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
}

.slides-navigation a.next {
    right: 20px;
}

.titleMessage {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 250px;
    color: white;
    top: 50%;
    text-align: center;
    margin-top: -150px;
}

.titleMessage .heading p {
    font-weight: 100;
    letter-spacing: 8px;
    color: whitesmoke;
    text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.6);
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .subject {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.section {
    padding: 100px 0;
}

.customContainer {
    width: 90%;
}

.container {
    width: 100%;
}

.me {
    max-width: 100%;
}

.skills .contactSection {
    background-color: rgb(46, 49, 49);
}

.mySkills {
    text-align: center;
    color: rgb(26, 26, 22);
    margin-left: 25px;
}

.chart {
    position: relative;
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #f33535;
    line-height: 150px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
}

.chart .percent:after {
    content: '%';
}

.contactButton {
    color: rgb(27, 49, 68);
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 6px;
}

.contactButton:hover {
    text-shadow: #06090c;
    text-decoration: #f5f6fa;
    background-color: rgb(227, 238, 248);
}

.filter {
    width: 100%;
    text-align: center;
}

.filter a {
    color: #eeeeee;
    border: 2px solid #98cfb4;
    border-radius: 6px;
    padding: 13px 20px;
    display: block;
    background-color: rgba(131, 131, 131, 0.966);
}

.filter li {
    display: inline-block;
    padding: 6px;
}

.filter .current {
    background-color: #47c1d6;
    border-color: wheat;
    color: #f7fffb;
}

.section .head h2 {
    text-align: center;
    widows: 100%;
    margin-bottom: 30px;
}

.item .projectname {
    font-size: 17px;
    font-style: oblique;
    font-family: Verdana;
    font-stretch: expanded;
    background-color: #dcd5df86;
    color: #1e272e;
}

.itemsContainer .items ul {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items .item {
    padding-top: 15px;
    padding-left: 100px;
    position: relative;
    overflow: hidden;
}

.copyright {
    text-align: center;
    color: #1e272e;
    width: 100%;
}

.navbar {
    background-color: #f5f6fa;
    font-size: larger;
    padding: 20px 10px;
    z-index: 100;
}

.navbar li {
    padding: 0 12px;
}

.navbar a {
    color: #212529;
    font-family: Arial, Helvetica;
    font-weight: 300;
}

.fixedNav .navbar {
    position: fixed;
    top: 0;
    width: 100%
}